<h1>{{title}}</h1>
<table #productTable class="table table-striped table-condensed table-responsive">
  <tr *ngFor="let p of products | async" appHover [appHighlightClick]="'red'">
    <td>{{p.name}}</td>
    <td>{{p.description}}</td>
    <td>{{p.price}}</td>
    <td>{{p.category}}</td>
    <td [appHighlightClick]="'yellow'"><input type="checkbox" [checked]="p.isAvailable" disabled /></td>
    <td [appHighlightClick]="'yellow'"><input type="button" (click)="onBuy(p)" value="Buy" /></td>
  </tr>
</table>
<div *ngIf="productTable.rows.length === 0">
  <p>No products are available</p>
</div>