<div class="container-fluid pull-left">
  <form #bookForm="ngForm" class="form-horizontal">
    <div class="form-group row">
      <label for="email" class="control-label col-sm-3">Email:</label>
      <div class="col-sm-9">
        <input #email="ngModel" [(ngModel)]="login" id="email" name="email" type="email" class="form-control" placeholder="Enter email" autofocus required email>
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
          <!--<p>{{email.errors | json}}</p>-->
          <div *ngIf="email.errors.required">
            Field is required!
          </div>
          <div *ngIf="email.errors.email">
            This is not email!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd" class="control-label col-sm-3">Password:</label>
      <div class="col-sm-9">
        <input #pwd="ngModel" [(ngModel)]="password" id="pwd" name="pwd" type="password" class="form-control" placeholder="Enter password" required minlength="6">
        <div *ngIf="pwd.invalid && pwd.touched" class="alert alert-danger">
          <!--<p>{{pwd.errors | json}}</p>-->
          <div *ngIf="pwd.errors.required">
            Field is required!
          </div>
          <div *ngIf="pwd.errors.minlength">
            Required length is at least {{pwd.errors.minlength.requiredLength}} but {{pwd.errors.minlength.actualLength}}!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button [routerLink]="returnUrl" (click)="authenticate()" [disabled]="!bookForm.valid" type="button" class="btn">Log In</button>
        <label for="remember" class="checkbox-inline">
        <input type="checkbox" id="remember" disabled>Remember me
        </label>
      </div>
    </div>
  </form>
</div>