<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Home</a>
    </div>
    <div class="nav navbar-nav navbar-left">
      <app-menu></app-menu>
    </div>
    <div class="nav navbar-nav navbar-right">
      <app-auth-menu></app-auth-menu>
      <app-user-menu></app-user-menu>
    </div>
  </div>
</nav>
<div class="container-fluid pull-right">
  <app-cart-detail></app-cart-detail>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>