<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/products">Products</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/cart">Cart</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <app-auth-detail></app-auth-detail>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid pull-right">
  <app-cart-detail></app-cart-detail>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>