<div>
  <nav class="navbar navbar-default">
    <div>
      <ul class="nav navbar-nav">
        <li class="navbar-header">
          <a class="navbar-brand" routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/products">Products</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid pull-right">
    <app-cart-detail></app-cart-detail>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>