<ul class="nav navbar-nav dropdown">
  <li *ngIf="isAuthenticated | async" routerLinkActive="active" class="nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span [style.color]="'red'">{{title | async}}</span>{{userName | async}}
        <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="nav-item"><a routerLink="/cabinet" class="nav-link">Cabinet</a></li>
      <li class="nav-item"><a (click)="refresh()" class="nav-link">Refresh</a></li>
      <li class="divider"></li>
      <li class="nav-item"><a (click)="logOff()" class="nav-link">Log Off</a></li>
    </ul>
  </li>
  <li *ngIf="!(isAuthenticated | async)" routerLinkActive="disabled" class="nav-item">
    <a routerLink="/authenticate" [queryParams]="returnParams | async" class="nav-link">
    <span class="glyphicon glyphicon-log-in" class="nav-link"></span> Log In</a>
  </li>
</ul>