<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Content" stopProcessing="true">
          <match url="(.*)\.(js|css|gif|ico)" />
        </rule>
        <rule name="Angular" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="/" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
